/*! APPROCCIO DESKTOP FIRST */

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* layout */

.wrapper {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to top,
        #dadbd4 0%,
        #dadbd4 80%,
        #009688 80%,
        #009688 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-container {
    width: 80%;
    height: 90vh;
    display: flex;
}

header {
    height: 80px;
    background-color: #eaeaea;
}

/* common */
ul {
    list-style: none;
}

.user-photo {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50px;
    margin-left: 20px;
}

button {
    border: none;
}

/* contacts column */

.contact-col {
    width: 400px;
    height: 100%;
}

/* contact header */

.contact-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #d8d8d8;
}

header ul {
    display: flex;
}

header button {
    font-size: 25px;
    color: #b1b1b1;
    background-color: #eaeaea;
    padding-right: 30px;
}

.notifications {
    height: 100px;
    background-color: #8edafc;
}

.search-bar {
    height: 70px;
    background-color: #fafafa;
}

.contacts {
    height: calc(100% - 250px);
    background-color: #ffffff;
}

/* chat column */

.chat-col {
    width: calc(100% - 400px);
    height: 100%;
}

.chat-screen {
    height: calc(100% - 160px);
    background-image: url(../img/mine.jpg);
}

.chat-footer {
    height: 80px;
    background-color: #f3eeea;
}
 
